.search-and-sort {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.search-and-sort button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.search-box {
  padding: 2px 5px;
  font-size: 1rem;
}

.small-pagination-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
}

.small-pagination-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.assigned-schools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.assign-new-school-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sort-arrow {
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
}

.search-box {
  padding: 2px 5px;
  font-size: 0.9rem;
  margin-left: 5px;
}

.remove-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 0.9rem;
}
