.tabs {
    margin-top: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3482FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tabs button:hover {
    background-color: #2670d3;
  }
  